	.applicationTitle {
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
	}
	
	Button {
		font-family: Tahoma;
		color: #000000;
		font-size: 11;
		font-weight: normal;
		text-roll-over-color: #000000; 
	}

	Tree {
	open-duration: 0;
	}


	.noMargins {
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		horizontal-gap: 0;
		vertical-gap: 0;
	}

	NumericStepper {
		height: 20;
		border-color: #8DABC8;
		border-cap-color: #8DABC8;
		font-family: Tahoma;
		color: #000000;
		font-size: 11;
		font-weight: normal;
	}

	CheckBox {
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
	}

	.myLinks {
		font-family: Tahoma;
		font-size: 11;
		text-decoration: underline;
		color: #0000FF;
	}

	Link {
		font-family: Tahoma;
		font-size: 11;
		text-decoration: underline;
		color: #0000FF;
		roll-over-color: #FFFFFF;
		text-roll-over-color: #0000FF;
		selection-color: #FFFFFF;
		text-selected-color: #0000FF;
	}

	Text {
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
	}

	Label {
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
	}

	TitleWindow {
		margin-left: 6;
		margin-right: 6;
		margin-top: 6;
		margin-botom: 6;
		border-color: #0F43E4;
		background-color: #F2F2E4;
		border-thickness: 3;
		drop-shadow: false;
		font-family: Tahoma;
		font-size: 11;
		color: #FFFFFF;
		vertical-gap: 10;
	}

Panel {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-botom: 0;
		border-color: #0F43E4;
		border-thickness: 3;
		drop-shadow: false;
		font-family: Tahoma;
		font-size: 11;
		color: #FFFFFF;
		vertical-gap: 0;
		horizontal-gap: 0;
	}

MenuBar {
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
		roll-over-color: #316AC5 ;
		selection-color: #316AC5;
		text-roll-over-color: #FFFFFF;
		text-selected-color: #FFFFFF;
		background-color: #FFFFFF;
		border-color: #D8D2BD;
		height: 24;
		margin-left: 0;
		horizontal-gap: 0;
		border-thickness: 1;
		selection-easing: 0;
		popup-duration: 0;
		theme-color: #FFFFFF;
		selection-disabled-color: #D8D2BD;
}

Menu {
	background-color: #FFFFFF;
		border-color: #D8D2BD;
		selection-disabled-color: #D8D2BD;
		margin-left: 0;
		horizontal-gap: 0;
		border-thickness: 1;
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
		roll-over-color: #316AC5 ;
		selection-color: #316AC5;
		text-roll-over-color: #FFFFFF;
		text-selected-color: #FFFFFF;
		selection-easing: 0;
		theme-color: #FFFFFF;
}







	TextInput {
		border-color: #8DABC8;
		border-cap-color: #8DABC8;
		font-family: Tahoma;
		color: #000000;
		font-size: 11;
		font-weight: normal;
	}

	.comboBox2 {
		border-color: #8DABC8;
		border-cap-color: #FFFFFF;
		highlight-color: #FFFFFF;
		height: 18;
	}

	Accordion {
		border-color: #003AA4;
		header-height: 33;
		fill-colors: #D7EBFF, #96BAEB;
		selected-fill-colors: #FFF2A4, #F9AB1B ;
		theme-color: #FFD076;
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
		
	}

	List {
		border-color: #8DABC8;
		selection-color: #437ED0;
		text-selected-color: #FFFFFF;
		use-roll-over: false;
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
		margin-top: 20;
		margin-bottom: 20;
	}

	.menuItem {
		font-family: tahoma;
		font-size: 11;
		color: #000000;
		font-weight: normal;
	}

	TabNavigator {
		font-family: tahoma;
		font-size: 11;
		color: #000000;
		font-weight: normal;
		border-color: #A4ABAB;
		background-color: #F9F9F9;
		horizontal-gap: 1;
		
	}
	
	.textMenuItem {
		font-family: tahoma;
		font-size: 11;
		color: #000000;
		font-weight: normal;
		horizontal-align: left;
	}


	.menu {
		font-family: tahoma;
		font-size: 11;
		color: #000000;
		font-weight: normal;
		border-thickness: 1;
		border-color: #003AA4;
		background-color: #FFFFFF;
		border-style: solid;
		drop-shadow: true;
	}

	.footerInfo {
		border-thickness: 1;
 		border-style: solid;
		border-color: #DDDDDD;
		color: #000000;
		font-family: Tahoma;
		font-size: 11;
		margin-top: 0;
		margin-left: 5;
		horizontal-gap: 20;
		margin-right: 5;
	}

	.footerInfoDisabled {
		border-thickness: 1;
 		border-style: solid;
		border-color: #DDDDDD;
		color: #BABAAB;
		font-family: Tahoma;
		font-size: 11;
		margin-top: 0;
		margin-left: 5;
		margin-right: 4;
	}

	ToolTip {
		font-family: Tahoma;
		font-size: 11;
		background-color: #FFFFEB;
		color: #000000;
		border-color: #000000;
		border-thickness: 1;
		drop-shadow: false;
		corner-radius: 0;
	}
	ComboBox {
		font-family: Tahoma;
		font-size: 11;
		color: #000000;
		border-color: #8DABC8;
		border-cap-color: #8DABC8;
		highlight-color: #8DABC8;
	}
	
	Application {
		theme-color: #9DBAEB;
	}
	
	TextArea {
		font-family: arial;
		font-size: 11;
		color: #000000;
		theme-color: #FFFFFF;
	}