/* CSS file */
global
{
	font-size:12px;
			
}

WindowedApplication
{
	 background-color:#ffffff; 
}

Alert 
{
	 color:#000000;
	 font-size:13px;     
     background-color:#ffffff;     
     border-color:#cccccf;   
     header-height:22; 
}

Button
{
	padding-left:0;
	padding-right:0;
	font-weight:normal;	
	text-align:center;
}