<?xml version="1.0" encoding="utf-8"?>
<config>
	<skins default="系统默认">
		<skin id=1 name="default" path="css/default/defaultSkin.swf"/>		
		<skin id=2 name="OSX" path="css/OSX/OSX.swf"/>
		<skin id=3 name="Yahoo" path="css/Yahoo/SkinYahoo.swf"/>
		<skin id=4 name="Darkroom" path="css/DarkRoom/SkinDarkRoom.swf"/>
	</skins>
	<navigator auto="yes"/>
	
</config>