.ta {
	background-image: url(images/index_02.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #3080c9;
}
.a1 {
	font-family: "ו";
	font-size: 14px;
	font-style: normal;
	line-height: 200%;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.a2 {
	font-family: "ו";
	font-size: 16px;
	font-style: normal;
	line-height: 100%;
	font-weight: bold;
	font-variant: normal;
}
