<?xml version="1.0" encoding="utf-8"?>
<config>

	<camera focus="50" default="0">
		<view>
			<point x="129904" y="150000" z="-225000"/>
			<rotation x="30" y="-30" z="0"/>
		</view>
		<view comment="二维：x-y">
			<point x="78496" y="133859" z="-256749"/>
			<rotation x="27" y="-17" z="0"/>
		</view>

		<view>
			<point x="" y="" z=""/>
			<rotation x="" y="" z=""/>
		</view>
	</camera>
	<axis xmax="50000" ymax="18000" zmax="50000">
		<z count="5" rotation="90" title="周期" dx="3000" dtitle="8000">
			<mark text="0"/>
			<mark text="10"/>
			<mark text="20"/>
			<mark text="30"/>
			<mark text="40"/>
			<mark text="50"/>
		</z>
		<x count="5" rotation="90" title="相位" dz="5000" dtitle="8000">
			<mark text="0"/>
			<mark text="20"/>
			<mark text="40"/>
			<mark text="60"/>
			<mark text="80"/>
			<mark text="100"/>
		</x>
		<y count="3" rotation="90" title="放电幅值(mV)" dx="5000" dtitle="8000">
			<mark text="0"/>
			<mark text="300"/>
			<mark text="600"/>
			<mark text="900"/>
		</y>
	</axis>
	<position>
		<point x="0" y="0" z="0" rotationY="90"/>
		<point x="0" y="30000" z="-30000" rotationY="90"/>
	</position>
</config>