/* CSS file */

.module
{
	backgroundColor: #C0C0C0;
	borderStyle: solid;
	corner-radius: 10;
}
Application
{
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #E5E5E5, #E5E5E5;
}
Accordion
{
	backgroundColor: #E5E5E5;
	headerHeight: 22;
	headerStyleName: accordionHeader;
}
.accordionHeader
{
	headerStyleName: accordionHeader;
}
RTE
{
	backgroundAlpha: 0.0;
	borderColor: #E5E5E5;
	borderStyle: none;
	headerHeight: 0;
}
Button.handle
{
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	cornerRadius: 0;
}
StylingRichTextEditor
{
	backgroundAlpha: 0.0;
	borderColor: #E5E5E5;
	borderStyle: none;
	headerHeight: 0;
}
global
{
	themeColor: #2B6BCE;
}
.formContent
{
	background-color: #E5E5E5;
	border-style: inset;
}




