<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Header path="header/splash.swf"/>
	<CourseList>
		<Chapter name="公司概要">
			<section id="1" name="学习目标" path="page-template/courseGoal/courseGoal.swf" isTemplate="true"/>
			<section id="2" name="公司背景及发展状况介绍" path="course/c02.swf"/>
			<section id="3" name="组织结构及工作流程" path="course/c09.swf"/>		
			<section id="4" name="小结" path="course/c10.swf"/>		
		</Chapter>
		<Chapter name="制度指南">
			<section id="5" name="学习目标" path="course/c11.swf"/>
			<section id="6" name="入职办理制度" path="course/c13.swf"/>
			<section id="7" name="上下班打卡" path="course/c17.swf"/>
			<section id="8" name="门禁制度" path="course/c18.swf"/>
			<section id="9" name="着装制度" path="course/c19.swf"/>
			<section id="10" name="禁烟制度" path="course/c22.swf"/>
			<section id="11" name="办公用品领用制度" path="course/c23.swf"/>
			<section id="12" name="领门卡" path="course/c24.swf"/>
			<section id="13" name="拍标准照" path="course/c25.swf"/>
			<section id="14" name="薪金周期" path="course/c26.swf"/>
			<section id="15" name="请休假制度" path="course/c27.swf"/>
			<section id="16" name="财务制度和流程" path="course/c28.swf"/>
			<section id="17" name="培训管理办法及流程" path="course/c32.swf"/>
			<section id="18" name="出差制度" path="course/c39.swf"/>
			<section id="19" name="安保制度" path="course/c40.swf"/>
			<section id="20" name="小结" path="course/c45.swf"/>	
		</Chapter>
		<Chapter id="21" name="综合测验" path="course/c86.swf"/>
	</CourseList>
	<Skins>
		<skin name="系统默认" path="css/Main/SkinMain.swf"/>		
		<skin name="OSX" path="css/OSX/OSX.swf"/>
		<skin name="Yahoo" path="css/Yahoo/SkinYahoo.swf"/>
		<skin name="Darkroom" path="css/DarkRoom/SkinDarkRoom.swf"/>
	</Skins>
</Config>